body{
    padding: 1%;
}

.nav{
    margin: 2% 3% 4% 0%;
}

body{
    margin: 2% 3% 4% 1%;
}

tr[data-href]{
    cursor: pointer;
}


.fetched_container{
    font-size: 150%;
    text-align: left;

}
.fetched{
    /* display: inline; */
    text-align: left;
    font-weight: bolder;
}

.profile_photo
{
    height: 25%;
    width: 25%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.separate{
    margin-top: 2%;
    margin-bottom: 10%;
}

.form-select{
    border: solid rgb(68, 150, 189) 1px;
    background-color: rgb(68, 150, 189);
    color: #fff;
}

.form-control{
    border: solid #333 1px;
}

.black-button{
    background: #333; border: #333;
}

label{
    font-size: 120%;
}

.black-button:hover{
    background: #222; border: #222;
}
