{% extends "searchinginterface.html" %}
{% block post_redirection %} 
/attendance
{% endblock %}

{% block search_title %}
    Search for Attendance:
{% endblock %}

{% block customizedTable%}  
<table class="table table-striped">
            <thead class="table-dark">
                <tr>
                        <th>Member ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile Number</th>
                        <th>Permanent Address</th>
                        <th>Modification Options</th>
                </tr>
            </thead>
            <tbody class="table-light">
                {% for record in records %}        
                        <td><a href="/fetch_data?member_id={{record['persons.person_id']}}">{{record["person_id"]}}</a></td>
                        <td><a href="/fetch_data?member_id={{record['person_id']}}">{{record["first_name"]}}</a></td>
                        <td><a href="/fetch_data?member_id={{record['person_id']}}">{{record["last_name"]}}</a></td>
                        <td><a href="/fetch_data?member_id={{record['person_id']}}">{{record["mobile_number"]}}</a></td>
                        <td><a href="/fetch_data?member_id={{record['person_id']}}">{{record["permanent_address"]}}</a></td>
                        <td>{% if record["todaysrecord"] %}
                            <!-- Using data-id in order to store the id so it is convenient to access from js -->
                            <button class="absentMarker black-button btn btn-primary mb-3 d-flex align-items-center gap-3" data-id="{{record['person_id']}}">Undo marking present</button>
                            <!-- Disabling the button if already logged out -->
                            <button class="timeoutMarker black-button btn btn-primary mb-3 d-flex align-items-center gap-3" data-id="{{record['person_id']}}" {%if record["todaysrecord"][0]["timeout_hours"]%}  disabled {% endif %}>Mark leaving time</button>
                            
                        {% else %}
                            <button class="presentMarker black-button btn btn-primary mb-3 d-flex align-items-center gap-3" data-id="{{record['person_id']}}">Mark Present</button>                          
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>    
    </table>
    <script>    
        // Adding js to send request to the backend to mark a dude present
        presentMarkers = document.querySelectorAll(".presentMarker");
        presentMarkers.forEach((element) => {
            element.addEventListener("click", async ()=>{
                let markingRequest = await fetch("/mark_present", {
                    method:"POST",
                    headers: {
                        "Content-Type" : "application/json"
                    },
                    // We use stringify to convert the json format into dictionary format in python
                    body: JSON.stringify({
                        // data-xyz is accessed as element.dataset.xyz
                        id : element.dataset.id
                    })
                })
                // The response needs to be converted into JSON in order to be understood by js.
                let response = await markingRequest.json()
                console.log(response)

                // Disabling click once already clicked
                element.disabled = true;
            })
        });

        absentMarkers = document.querySelectorAll(".absentMarker");
        absentMarkers.forEach((element) =>{
            element.addEventListener("click", async () =>{
                let data = await fetch("/mark_absent", {
                    method: "POST",
                    headers: {
                        "Content-Type" : "application/json"
                    },
                    body: JSON.stringify({
                        id : element.dataset.id
                    })
                })
                let response = await data.json()
                console.log(response)
                element.disabled = true
            })
        })

        timeoutMarkers = document.querySelectorAll(".timeoutMarker");
        timeoutMarkers.forEach((element) => {
            element.addEventListener("click", async () =>{
                let data = await fetch("/mark_timeout", {
                    method: "POST",
                    headers: {
                        "Content-Type" : "application/JSON"
                    },
                    body : JSON.stringify({
                       id : element.dataset.id  
                    })
                })
                let response = await data.json();
                console.log(response)
                element.disabled = true;
            })
        })

    </script>
{% endblock %}

{% block footer %}
    <button class="black-button btn btn-primary mb-3 d-flex align-items-center gap-3"><a href="/attendance_details" style="text-decoration: none; color: #fff">View Attendance in Detail</a></button>
{% endblock %}


