{% extends "template.html" %}
{% block body %}
<style>
    .financial-details{
        display: none;   
    }
</style>
<div class="mb-3">
    <label for="startDate">Start Clipping From: </label>
    <input type="date" name="start_date" id="startDate" class="form-select" value="{{date30daysago}}"/>
</div>

<div class="mb-3">
    <label for="startDate">Stop Clipping At: (Note: non-inclusive)</label>
    <input type="date" name="end_date" id="endDate" class="form-select" value="{{datetoday}}"/>
</div>

<div class="mb-3">
    <button id="financeLoader" class="black-button btn btn-primary mb-3 d-flex align-items-center gap-3">Load Financial Details</button>
</div>

<div class="financial-details">
    <h1 class="income-detail finance-header">Income</h1>
        <table class="table table-striped">
            <thead class="table-dark" id="income_detail_thead"></thead>
            <tbody class="table-light"  id="income_detail_tbody"></tbody>    
    </table>

<h1 class="income-detail finance-header">Expense</h1>
<table class="table table-striped">
        <thead class="table-dark" id="expense_detail_thead"></thead>
        <tbody class="table-light"  id="expense_detail_tbody"></tbody>    
</table>
</div>

    <script>
        sheet_div = document.querySelector(".financial-details");
        async function loadFinance(){
            startdate = document.querySelector("#startDate").value;
            enddate = document.querySelector("#endDate").value;

            request = await fetch("/get_financial_details", {
                method : "POST",
                headers : {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    start_date : startdate,
                    end_date : enddate
                })
            })

            response = await request.json();
            
            income_records = response.income_records;
            expense_records = response.expense_records;
            days_array = response.days_array;
            time_diff = response.time_diff;

            console.log(response);
            sheet_div.style.display = "block";
            createTable(income_records, expense_records)
        }

        function createTable(income_records, expense_records){
            // For income
            let ithead = document.querySelector("#income_detail_thead")
            let itbody = document.querySelector("#income_detail_tbody")
            let total_income = 0;
            let total_expense = 0;

            // For expense
            let ethead = document.querySelector("#expense_detail_thead")
            let etbody = document.querySelector("#expense_detail_tbody")
            let tr = document.createElement("tr");

            ithead.innerHTML = "";
            itbody.innerHTML = ""
            ethead.innerHTML = "";
            etbody.innerHTML = ""

            th = document.createElement("th");
            th.innerText = "Transaction ID"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText = "Amount"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText = "Purpose"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText = "Date time"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText = "Second Party Type"
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerText = "Second Party Name"
            tr.appendChild(th)

            th = document.createElement("th");
            th.innerText = "Remarks"
            tr.appendChild(th)

            console.log(tr)
            console.log(ithead)
            ethead.appendChild(tr);
            ithead.appendChild(tr.cloneNode(true));

            for(let i = 0; i < income_records.length; i++)
            {
                obj = addIndividualRecords(income_records[i])
                itbody.appendChild(obj.row)
                total_income += obj.amount;
            }
            tr = document.createElement("tr");
            tr.innerHTML=`<td> Total Income: </td> <td><b>Rs. ${total_income}</b></td>`
            itbody.appendChild(tr)
            for(let i = 0; i < expense_records.length; i++)
            {

                obj = addIndividualRecords(expense_records[i])
                etbody.appendChild(obj.row)
                total_expense += obj.amount;
            }
            tr = document.createElement("tr");
            tr.innerHTML=`<td> Total Expense: </td> <td>Rs. ${total_expense}</td>`
            etbody.appendChild(tr)
            etbody.innerHTML += `<tr><td> Net Cashflow </td> <td><b> Rs. ${total_income - total_expense}</b></td></tr>`
        }

        function addIndividualRecords(list)
        {
            let td = document.createElement("td");
            let tr = document.createElement('tr');
            
            td.innerText = list.transaction_id;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = list.amount;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = list.name;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = list.transaction_datetime;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = list.type;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = `${list.first_name} ${list.last_name}`;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = list.remarks
            tr.appendChild(td);

            return {row : tr, amount: list.amount};
        }
        document.querySelector("#financeLoader").addEventListener("click", loadFinance)
    </script>

{% endblock %}