{% extends "template.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #scroller{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
</style>
<body>
    {% block body%}
        <div id="scroller">
            <img src="https://media.istockphoto.com/id/1287874606/photo/muscular-man-using-weights-machine-for-legs-at-the-gym-hard-training.jpg?s=612x612&w=0&k=20&c=dOU3rsfCKO_9XvfgNqJ4wJA6ZIdI3BLAgpAFomEgR54=" alt="sed">
            <img src="https://cdn.europosters.eu/image/350/posters/gym-athletic-man-and-woman-i96980.jpg" alt="sedder ">
        </div>
    {% endblock %}
</body>
</html>