{% extends "template.html" %}
{% block body %}
    <form action="{% block post_redirection %} {% endblock %}" method="post">
        <div class="mb-3">
            <h2>{% block search_title %} {% endblock %} </h2>
        </div>
        <div class="mb-3">
            <label for="memberfirstname" class="form-label">Member First Name: </label>
            <input type="text" class="form-control" id="memberfirstname" name = "m_first_name">
        </div>

        <div class="mb-3">
            <label for="memberlastname" class="form-label">Member Last Name : </label>
            <input type="text" class="form-control" id="memberlastname" name = "m_last_name">
        </div>
        <button type="submit" class="btn btn-primary mb-3 d-flex align-items-center gap-5">Search <span class="material-symbols-outlined">search</span></button>
    </form>    

    {% if recordqueries %}
        {% block customizedTable %} 
        <!-- There is a list called "records" and each member in the list is a dictionary which can be used to access the appropriate data -->
        {% endblock %}
    {% endif %}
{% endblock %}